{% extends 'orders/header.html' %}

{% block header %}

{% endblock %}

{% block content %}

<div class=" logbg p-5 d-flex justify-content-center align-items-center" style="height: 75vh; ">

    <div class="container border shadow p-3 rounded  mx-auto bg-white  " style="max-width:70%; width:450px; min-width:25vw; ">
        <div class="" >
            <h2 class="mb-3 text-center">Login</h2>
            

            <div class="">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                        <button class="btn btn-success w-100" type="submit">Login</button>
                    </form>

                   <p class="my-3">
                       Don't have an account? 
                       <a href="/register"> <strong>Register Here</strong></a>!
                   </p>
                 
                    
            </div>

        </div>
    </div>
</div>
{% endblock %}
