{% extends 'orders/header.html' %}

{% block header %}

{% endblock %}
{% block content %}

  <div class=" logbg p-5 d-flex justify-content-center align-items-center " style="height: 75vh; ">

    <div class="container border shadow p-3 rounded  mx-auto bg-white  " style="max-width:70%; width:450px; min-width:25vw; ">
        <div class="" >
            <h2 class="mb-3 text-center">Register</h2>
            

            <div class="">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                        <button class="btn btn-danger w-100" type="submit">register</button>
                    </form>

                   <p class="my-3"> 
                    If you already have an account, please 
                       <a href="/login"> <strong>LOGIN</strong></a> instead!
                   </p>
                 
                    
            </div>

        </div>
    </div>
</div>
{% endblock %}
